@import url('./theme.css');

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-primario);
  height: 9vh;
  z-index: 1000;
}

.nav-menu ul {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 5vw;
  margin: 0;
  height: 100%;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  padding: 0 60px;
  position: relative;
  height: 100%;
}

.nav-menu ul li a {
  color: var(--color-acento);
  font-size: 0.9em;
  text-decoration: none;
  position: relative;
  padding: 0 10px 3px 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.nav-menu ul li:not(.active)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-secundario);
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.nav-menu ul li:not(.active):hover::before {
  transform: scaleX(1);
}

.nav-menu ul li .active {
  font-weight: bold;
  background-color: var(--color-acento);
  color: var(--color-primario);
  line-height: 9.1vh;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 1001;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-acento);
  margin: 4px 0;
}

@media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
  .nav-menu ul {
    display: none;
    flex-direction: column;
    background-color: var(--color-primario);
    position: absolute;
    top: 9vh;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .nav-menu.activado ul {
    display: flex;
    background-color: var(--color-acento);
    justify-content: center;
    padding: 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu.activado ul li {
    padding: 0;
    width: 100%;
    height: 60px;
  }

  .nav-menu.activado ul li a {
    color: var(--color-primario);
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
    padding-left: 5px;
    box-sizing: border-box;
  }
}
