@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("./theme.css");
@import url("animations.css");

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

#root {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
